body {
    box-sizing: border-box;  
    /* padding: 5px; */
}

*,
::before,
::after {
  margin: 0;
  box-sizing: inherit; 
}

.container {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 4.08%;
    height: 97vh;    
    row-gap: 4.99%;
}

.container > div {
    background-color: #99CF1C;
    border: solid 5px black;
    border-radius: 5px;
    height: 160px;
}

.container :nth-child(2) {    
    margin: 0 4.1%;
}

.small {
    /* width: 175px; */
    width: 11.8%;
}

.large {
   /* width: 903px; */
   width: 59.99%; 
}

.medium {
    /* width: 305px; */
    width: 20%;
}


